.uuw-inline-root, .uuw-inline-root * {
    box-sizing: border-box;
}

.uuw-inline-root {
    /* base widget */
    @include make-root();

    /* empty label */
    .uuw-empty {
        @include make-empty();
    }
    &:not(.non-empty) {
        .uuw-empty {
            height: 100%;
            opacity: 1;
        }
    }
    &.drop-zone {
        .uuw-empty {
            height: 0;
            opacity: 0;
        }
    }

    /* drop label */
    .uuw-drop-label {
        @include make-drop-label();
    }
    &.drop-zone {
        .uuw-drop-label {
            height: 100%;
            opacity: 1;
        }
    }

    /* file preview */
    .inline-related {
        @include make-file-preview();

        &.empty-form {
            display: none;
        }
        &.deleted {
            display: none;
        }
    }

    /* files carousel */
    > div {
        height: 100%;
        width: auto;

        @include flex-row-stretch();
    }

    /* add button */
    .uuw-add-file-btn {
        /* shape */
        border-radius: 5px;
        padding: 15px;
        width: 160px;
        max-width: 160px;
        
        /* styles */
        border: 1px solid var(--uuw-file-preview-border);
        box-shadow: 0 0 4px 0 var(--uuw-file-preview-shadow);
        background: var(--uuw-add-file-background);
        color: var(--uuw-add-file-color);
        
        /* display */
        @include flex-column-center-center();
        display: none;

        /* behaviour */
        cursor: pointer;
        
        svg {
            fill: var(--uuw-add-file-color);
            margin-bottom: 30px;
            width: 60px;
            height: auto;
            transition: margin 0.3s ease, width 0.3s ease, height 0.3s ease;
        }

        &:hover {
            svg {
                margin-bottom: 10px;
                width: 80px;
                height: auto;
            }
        }

        > span {
            font-weight: bold;
            text-align: center;
            font-size: 1rem;
        }
    }

    &.non-empty {
        .uuw-add-file-btn {
            &:not(.visible-by-number) {
                display: none;
            }

            &.visible-by-number {
                display: flex;
            }
        }
    }
    &:not(.non-empty) {
        .uuw-add-file-btn {
            display: none;
        }
    }
}