body {
    --uuw-background: #FFF;
    --uuw-border-color: #CCC;
    --uuw-color: #333;
    --uuw-placeholder-text-color: #AAA;
    --uuw-placeholder-destak-color: #417690;
    --uuw-dropzone-background: rgba(255, 255, 255, 0.8);
    --uuw-file-preview-border: #BFBFBF;
    --uuw-file-preview-shadow: rgba(0, 0, 0, 0.3);
    --uuw-add-file-background: #EFEFEF;
    --uuw-add-file-color: #AAA;
    
    @media (prefers-color-scheme: dark) {
        --uuw-background: #121212;
        --uuw-border-color: #CCC;
        --uuw-color: #333;
        --uuw-placeholder-text-color: #AAA;
        --uuw-placeholder-destak-color: #417690;
        --uuw-dropzone-background: rgba(0, 0, 0, 0.8);
        --uuw-file-preview-border: #333;
        --uuw-file-preview-shadow: rgba(0, 0, 0, 0.3);
        --uuw-add-file-background: #333;
        --uuw-add-file-color: #CCC;
    }
}
