.uuw-root, .uuw-root * {
    box-sizing: border-box;
}

.uuw-root {
    /* base widget */
    @include make-root();

    /* empty label */
    .uuw-empty {
        @include make-empty();
    }
    &:not(.non-empty) {
        .uuw-empty {
            height: 100%;
            opacity: 1;
        }
    }
    &.drop-zone {
        .uuw-empty {
            height: 0;
            opacity: 0;
        }
    }

    /* drop label */
    .uuw-drop-label {
        @include make-drop-label();
    }
    &.drop-zone {
        .uuw-drop-label {
            height: 100%;
            opacity: 1;
        }
    }

    /* file preview */
    .uuw-file-preview {
        @include make-file-preview();
    }
}