.uuw-root,
.uuw-root * {
    box-sizing: border-box;
}

.uuw-root {
    /* base widget */
    @include make-root();

    /* empty label */
    .uuw-empty {
        @include make-empty();
    }
    &:not(.non-empty) {
        .uuw-empty {
            height: 100%;
            opacity: 1;
        }
    }
    &.drop-zone {
        .uuw-empty {
            height: 0;
            opacity: 0;
        }
    }

    /* drop label */
    .uuw-drop-label {
        @include make-drop-label();
    }
    &.drop-zone {
        .uuw-drop-label {
            height: 100%;
            opacity: 1;
        }
    }

    /* file preview */
    .uuw-file-preview {
        @include make-file-preview();
    }

    &.uuw-pdf {
        .uuw-file-preview {
            width: 374px;
        }
    }

    &.uuw-audio {
        height: 85px;
        .uuw-file-preview {
            width: 374px;
            text-align: center;
            padding-top: 7px;
        }

        .uuw-empty {
            padding: 13px 0;

            svg {
                margin-bottom: 0px;
            }
        }
    }

    &.uuw-video {
        height: 240px;
        .uuw-file-preview {
            width: 356px;
            background-color: #000;
            display: flex;
            video {
                width: 100%;
            }
        }
    }
}
